<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="overant.asako.tpv">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_trans"
        android:label="@string/app_name"
        android:theme="@style/Theme.OverantTpv">
        <activity
            android:name=".Login"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Admin.Administracion"
            android:label="@string/title_activity_administracion" />
        <activity
            android:name=".Admin.AdmEmpresa"
            android:label="@string/title_activity_adm_empresa" />
        <activity
            android:name=".Admin.AdmCliente"
            android:label="@string/title_activity_adm_clientes" />
        <activity
            android:name=".Admin.AdmListaClientes"
            android:label="@string/title_activity_adm_clientes" />
        <activity
            android:name=".Admin.AdmListaEmpresa"
            android:label="@string/title_activity_adm_lista_empresa" />
        <activity
            android:name=".Admin.AdmListaPuntoVenta"
            android:label="@string/title_activity_adm_lista_punto_venta" />
        <activity
            android:name=".Admin.AdmPuntoVenta"
            android:label="@string/title_activity_adm_punto_venta" />
        <activity
            android:name=".Admin.AdmListaUsuarios"
            android:label="@string/title_activity_adm_lista_usuarios" />
        <activity
            android:name=".Admin.AdmUsuario"
            android:label="@string/title_activity_adm_usuario" />
        <activity
            android:name=".Admin.AdmListaAlmacenes"
            android:label="@string/title_activity_adm_lista_almacenes" />
        <activity
            android:name=".Admin.AdmAlmacen"
            android:label="@string/title_activity_adm_almacen" />
        <activity
            android:name=".Admin.AdmListaCategorias"
            android:label="@string/title_activity_adm_lista_categorias" />
        <activity
            android:name=".Admin.AdmCategoria"
            android:label="@string/title_activity_adm_categoria" />
        <activity
            android:name=".Admin.AdmListaArticulos"
            android:label="@string/title_activity_adm_lista_articulos" />
        <activity
            android:name=".Admin.AdmArticulo"
            android:label="@string/title_activity_adm_articulo" />
        <activity
            android:name=".Admin.AdmListaStock"
            android:label="@string/title_activity_adm_lista_stock" />
        <activity
            android:name=".Admin.AdmListaProveedores" />
        <activity
            android:name=".Admin.AdmProveedor" />
        <activity
            android:name=".TPV.ActividadPrincipal"
            android:theme="@style/Theme.ConNavigationDrawer" />
        <activity
            android:name=".TPV.VisualizarTicket" >
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".TPV.ActividadPrincipal" />
        </activity>
    </application>

</manifest>